/*this css file is for the layout of the document*/


html,body {
    margin: 0;
}



/* Banner and Footer styles */
#banner{
    margin: 0;
    padding: 0;
    margin-right:100px;
    margin-left:100px;
    overflow:hidden;
}

#bannerImage{
    display: block;
    margin: auto;
    max-width:100%;
}

#footer {
    margin-left:100px;
    margin-right:100px;
    padding-top:10px;
    padding-bottom:10px;
}

#footerText{
    margin:auto;
    display:block;
    text-align: center;
}



.list{
    margin-left:40%;
    display:block;
}
.header{
    text-align: center;
}
.textcomp {
    display:block;
    margin:auto;
    max-width: 600px;
}



#namediv {
    margin-left:100px;
    margin-right:100px;
    position:fixed;
    background-color:transparent;
    top:0px;
    padding:5px;
}

#nametxt {
    margin:auto;
    display:block;
    text-align: center;
}

#navbar{
    display:block;
    text-align: right;
    padding-left:200px;
    padding-right:10px;
    margin-left:100px;
    margin-right:100px;
}

.pagelink{
    display: inline-block;
    margin-left: 10px;
    padding: 10px 0;
}

#components{
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 400px;
}

.compdiv{
    padding: 10px;
}

.comp{
    display:block;
    margin:auto;
}











/*slideshow stuff*/
.slideshowcontainer{
    margin:auto;
    display:block;
}

.slideshowtitle{
    text-align: center;
}

.slideshowimage{
    display:block;
    height: 60%;
    margin: auto;
}

.slideshowcaption{
    text-align: center;
}

.slideshowbuttoncontainer{
    display: table;
    margin: auto;
    width: auto;
    height: auto;
}

.slideshowbutton{
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}






