/*this css file is for the layout of the document*/
/*topnav*/


html,body {
    margin: 0;
    height: 100%;
    min-height:100%;
}

/* Banner and Footer styles */
#banner{
    margin: 0;
    padding: 0;
    margin-right:100px;
    margin-left:100px;
    overflow:hidden;
}

#bannerImage{
    display: block;
    margin: auto;
    max-width:100%;
}
/*
#footer {
    margin-left:100px;
    margin-right:100px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 0px;
}

#footerText{
    margin:auto;
    display:block;
    text-align: center;
}*/


///////////////////
#footer {
    display: block;
    padding-top:10px;
    padding-bottom:10px;
}

#footerText{
    margin:auto;
    display:block;
    text-align: center;
}

#footercontainer{
    display:block;
    width:calc(100% - 200px);
    position: absolute;
    background-color: red;
    left: 100px;
    right: 100px;
    bottom: 0;
}
//////////////



.list{
    margin-left:40%;
    display:block;
}
.header{
    text-align: center;
}
.textcomp {
    display:block;
    margin:auto;
    max-width: 600px;
}


#namediv {
    margin-left:100px;
    margin-right:100px;
    padding-top:10px;
    padding-bottom:10px;
}

#nametxt {
    margin:auto;
    display:block;
    text-align: center;
}

#navbar{
    display:block;
    text-align: left;
    margin-left:100px;
    margin-right:100px;
}

.pagelink{
    display: inline-block;
    margin-left: 10px;
    padding: 10px 0;
}

#components{
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.compdiv{
    padding: 10px;
}

.comp{
    display:block;
    margin:auto;
}











/*slideshow stuff*/
.slideshowcontainer{
    margin:auto;
    display:block
}

.slideshowtitle{
    text-align: center;
}

.slideshowimage{
    display:block;
    height: 60%;
    margin: auto;
}

.slideshowcaption{
    text-align: center;
}

.slideshowbuttoncontainer{
    display: table;
    margin: auto;
    width: auto;
    height: auto;
}

.slideshowbutton{
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}






