/*this css file is for the layout of the document*/
/*
//vintage
-grape
-dark purp
-sand
-wet sand
-brand

background-color: #59323c;
background-color: #260126;
background-color: #f2eeb3;
background-color: #bfaf80;
background-color: #8c6954;
*/


#namediv, #footer{
background-color: #bfaf80;
}

#components, html, body {
background-color: #59323c;
}



#navbar{
background-color: #bfaf80;
}
.compdiv, #components {
background-color: #f2eeb3;
}



#nametxt, #textcomp {
color:black;
}


.pagelink{
color:black;
}




/*
#banner
#bannerImage
#footer
#footerImage
*/
















