@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Bree+Serif|Muli|Vollkorn|Inconsolata);

/*@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

*/

.Fjalla_One {font-family:"Fjalla One"}


.Bree_Serif {font-family:"Bree Serif"}


.Muli {font-family:"Muli";}


.Vollkorn {font-family:"Vollkorn";}


.Inconsolata {font-family:"Inconsolata";}
