/*this css file is for the layout of the document*/
/*
//ice cream
//#6534ff purple
//#52bcfa cyan
//#fccdd3 strawberry?
//#bbc4ef light purp

background-color: #6534ff;
background-color: #52bcfa;
background-color: #fccdd3;
*/


#namediv{
background-color: #52bcfa;
}

#components, html,body {
background-color: #6534ff;
}



#navbar{
background-color: #52bcfa;
}
.compdiv {
background-color: #fccdd3;
}



#nametxt, #textcomp {
color:black;
}


.pagelink{
color:black;
}




/*
#banner
#bannerImage
#footer
#footerImage
*/












/*slideshow stuff*/
.slideshowcontainer {
}

.slideshowtitle

.slideshowimage

.slideshowcaption

.slideshowbuttoncontainer

.slideshowbutton






