/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2015, 1:44:30 PM
    Author     : cgmp



buttons = #48b685
buttons = #5bc4bf
bg = #e7e9db

*/


/*  THIS FILE CONTAINS STYLES FOR THE MAIN APPLICATION STAGE ALONE */


//COLORS---------------------------------------------------------------------------------


.componentpane, .pageview, .pageeditor, .siteview
{
    -fx-background-color: #e7e9db;
}


.pageview_topbar, .sitetoolbar, .modetoolbar, .filetoolbar
{
    -fx-background-color: #48b685;
}


.componentview_button, .pageview_sidebar_buttons, .modetoolbar_buttons, .filetoolbar_buttons
{
    -fx-background-color: #5bc4bf;
}




//LAYOUTS-------------------------------------------------------------------------------

//FILETOOLBAR STYLES
.filetoolbar
{    
    -fx-fit-to-width: true;
    -fx-hgap: 5px;
}

.filetoolbar_buttons
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-padding: 10px 50px 10px 50px;
}

//MODETOOLBAR STYLES
.modetoolbar
{
    -fx-fill-width: true;
    
}

.modetoolbar_buttons
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

//SiteView
.siteview
{
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}

.siteview_webview
{
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}


//PageEditor Styles
.pageeditor
{
    -fx-border-width: 10px;
    -fx-border-color: transparent;
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}


//SITETOOLBAR
.sitetoolbar 
{
    -fx-border-width: 10px 10px 20px 10px;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-spacing: 30px;
}

.sitetoolbar_child
{
    
}


//COMPONENTVIEW STYLES

.componentpane
{
    -fx-max-height: Infinity;
    //-fx-fit-to-width: true;
}


.componentview
{

    -fx-fit-to-width:true;
    -fx-background-color: orange;
}
.componentview_selected
{
    -fx-fit-to-width:true;
    -fx-background-color: orangered;    
}
.componentview_button
{
    -fx-padding: 30px;
}
.componentview_label
{
    -fx-padding: 30px;
}



//PAGEVIEW
.pageview
{
}

.pageview_topbar
{
    -fx-alignment: center;
}

.pageview_sidebar_buttons
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}



