/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2015, 1:44:30 PM
    Author     : cgmp



buttons = #48b685
buttons = #5bc4bf
bg = #e7e9db

*/


/*  THIS FILE CONTAINS STYLES FOR THE MAIN APPLICATION STAGE ALONE */


//COLORS---------------------------------------------------------------------------------


.componentpane, .pageview, .pageeditor, .siteview, .comp_scrollpane, .componentpane
{
    -fx-background-color: #7CC2AF;
}

.siteview, .comp_scrollpane
{
    -fx-border-color: #085F43;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}


.pageview_topbar, .sitetoolbar, .modetoolbar, .filetoolbar
{
    -fx-background-color: #4CA089;
}


.componentview_button, .pageview_sidebar_buttons, .modetoolbar_buttons, .filetoolbar_buttons, .sitetoolbar_child, .pageview_topbar_child
{
    -fx-background-color: #2F8A71;
    -fx-border-color: #085F43;
}

.filetoolbar, .modetoolbar
{
    -fx-border-color: #7CC2AF;

}


//LAYOUTS-------------------------------------------------------------------------------

//FILETOOLBAR STYLES
.filetoolbar
{    

    -fx-fit-to-height: true;
    -fx-hgap: 5px;
    -fx-border-width: 0 0 10px 0;
    -fx-padding: 0 0 1px 0;//fix dumb button bug
}

.filetoolbar_buttons
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

//MODETOOLBAR STYLES
.modetoolbar
{
    -fx-fill-width: true;
    -fx-border-width: 0 10px 0 0;

}

.modetoolbar_buttons
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;

}

//SiteView
.siteview
{
    -fx-border-width: 0 10px 10px 0;
    -fx-border-color: transparent;
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}

.siteview_webview
{
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}


//PageEditor Styles
.pageeditor
{
    -fx-border-width: 0 10px 10px 0;
    -fx-border-color: transparent;
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}


//SITETOOLBAR
.sitetoolbar 
{
    -fx-border-width: 10px 10px 20px 10px;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-spacing: 30px;
    -fx-fit-to-height: true;
    -fx-padding: 0 0 1px 0;

}

.sitetoolbar_child
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-alignment: center;
    -fx-padding: 5px 20px 5px 20px;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;

}

.sitetoolbar_name
{
    -fx-alignment: center;
}

.sitetoolbar_name_child
{
    -fx-padding: 5px 20px 5px 20px;
}

//COMPONENTVIEW STYLES

.componentpane, .comp_scrollpane
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}


.componentview
{
    -fx-alignment: center;
    -fx-fit-to-width:true;
    -fx-background-color: orange;
}
.componentview_selected
{
    -fx-fit-to-width:true;
    -fx-background-color: orangered;    
}
.componentview_button
{
    -fx-padding: 30px;
}
.componentview_label
{
    -fx-padding: 30px;
}



//PAGEVIEW
.pageview
{
}

.pageview_topbar
{
    -fx-spacing: 30px;
    -fx-alignment: center;
    -fx-border-width: 0px 0px 10px 0px;
    -fx-border-color: transparent;
    -fx-padding: 0 0 1px 0;

}

.pageview_topbar_child
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-alignment: center;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-padding: 5px 20px 5px 20px;

}

.pageview_sidebar_buttons
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;

}



