/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2015, 3:47:47 PM
    Author     : cgmp
*/

/*  THIS FILE CONTAINTS STYLES PERTAINING TO THE RELATED PROMPT FOR THIS APPLICATION    */




//SLIDESHOW
.slide
{
    -fx-background-color: blue;
}

.slide_selected
{
    -fx-background-color: red;
}