/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2015, 3:47:47 PM
    Author     : cgmp
*/

/*  THIS FILE CONTAINTS STYLES PERTAINING TO THE RELATED PROMPT FOR THIS APPLICATION    */



.container, .banner
{
    -fx-background-color: #48b685;
}


.ok_button, .choose_button, .prompt_button, .slideshow_button
{
    -fx-background-color: #5bc4bf;
}



//MISC


.ok_button, .choose_button, .prompt_button
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-padding: 10px 20px 10px 20px;
}

.button_container
{
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.slideshow_button
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}




//SLIDESHOW
.slide//@todo MAKE PRETTY
{
    -fx-background-color: blue;
}

.slide_selected
{
    -fx-background-color: red;
}


//BANNER
.banner, .container
{
    -fx-spacing: 20px;
    -fx-alignment: center;
}
.banner_image
{
    -fx-max-height: 150px;
    -fx-max-width: 150px;
}
