/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2015, 3:47:47 PM
    Author     : cgmp
*/

/*  THIS FILE CONTAINTS STYLES PERTAINING TO THE RELATED PROMPT FOR THIS APPLICATION    */



.container, .banner, .container_nospacing
{
    -fx-background-color: #7CC2AF;
}


.ok_button, .choose_button, .prompt_button, .slideshow_button
{
    -fx-background-color: #2F8A71;
    -fx-border-color: #085F43;
}

.slide
{
    -fx-background-color: #4CA089;
}

.selection, .slide_selected
{
    -fx-background-color: #478D76;
    -fx-border-color: #085F43;
}

.slide_toolbar
{
    -fx-background-color: #4CA089;
    -fx-alignment: center;
}



//MISC

.prompt_image
{
    -fx-max-height: 150px;
    -fx-max-width: 150px;
    -fx-alignment: center;
    //-fx-fit-to-height: true;
    //-fx-fit-to-width: true;
}

.ok_button, .choose_button, .prompt_button
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-padding: 10px 20px 10px 20px;
}

.button_container
{
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.slideshow_button
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}


.container
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.container_nospacing
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-spacing: 2px;
    
}

//SLIDESHOW
.slide//@todo MAKE PRETTY
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.slide_selected
{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}


//BANNER
.banner, .container
{
    -fx-spacing: 20px;
    -fx-alignment: center;
}
.banner_image
{
    -fx-max-height: 150px;
    -fx-max-width: 150px;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}


